{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Telefon Numarası Ara</title>

        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %} "></script>
    </head>
    <body>
        <h3>Ara</h3>
        {% csrf_token %}
        <input type ='text' id="search" name="search"/>
        <button id="btnSearch">ARA</button>
        <div id="divTable"></div>

        <div><label id="lblMesaj"></label></div>
        <script>
            $(function(){
                $('#btnSearch').click(function(){
                $.ajax({
                  type:"POST",
                  url:"/rehber/kisisorgula/",
                  dataType: 'json',
                  data:{
                    'search_text': $('#search').val(),
                    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
                  },
                  success: function(data, textStatus,jqXHR){
                       console.log(data);
                       stringHtml = "<table style='width:100%' id='tblResults'>"
                                        + "<tr>"
                                              + "<th>id</th>"
                                              + "<th>Adı</th>"
                                              + "<th>Soyadı</th>"
                                              + "<th>Telefon No</th>"
                                              + "<th>Adres</th>"
                                              + "<th>İşlem</th>"
                                        + "</tr>"
                                        + "<tr>"
                                                + "<td>"+ data["results"]["id"] +"</td>"
                                                + "<td>"+ data["results"]["name"] +"</td>"
                                                + "<td>"+ data["results"]["surname"] +"</td>"
                                                + "<td>"+ data["results"]["number"] +"</td>"
                                                + "<td>"+ data["results"]["address"] +"</td>"
                                           + "</tr>"
                                       + "</table>";

                        $("#divTable").html(stringHtml);
                        $("#lblMesaj").html(data["results"]["message"]);

                        alert( "id: " + data["results"]["id"]
                              + " name: " + data["results"]["name"]
                              + " surname: "+ data["results"]["surname"]
                              + " number: "+ data["results"]["number"]
                              + " address: "+ data["results"]["address"]);


                  },
                  error : function(xhr,errmsg,err) {
                        $('#lblMesaj').html("<div class='alert-box alert radius' data-alert>Oops! Beklenmedik bir hata oluştu: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
              });
            });
        </script>
    </body>
</html>